:root {
    --height: 30px;
    --width: 30px;
    --entityLength: 26px;
    --mapLength: 390px;
}

.dark-tile{
    background-color: rgb(12, 13, 12);
    height: var(--height);
    width: var(--width);
}
.light-tile{
    background-color: rgb(0, 0, 0);
    height: var(--height);
    width: var(--width);
}
.player{
    background-color: rgb(39, 69, 242);
    height: var(--entityLength);
    width: var(--entityLength);
    border: 2px solid rgb(4, 32, 40);
    transform: rotate(1deg);
}
.wall{
    background-color: rgb(202, 13, 35);
    height: var(--entityLength);
    width: var(--entityLength);
    border: 2px solid rgb(18, 20, 17);
}
.void{
    background-color: rgb(50, 42, 52);
    height: var(--entityLength);
    width: var(--entityLength);
    border: 2px solid rgb(23, 1, 23)
}
.lava{
    background-color: rgb(233, 143, 9);
    height: var(--height);
    width: var(--width);
}
.bomb{
    background-color: rgb(242, 39, 154);
    height: var(--entityLength);
    width: var(--entityLength);
    border: 2px solid rgb(39, 4, 40);
    border-radius: 50%;
}
/* ATRIBUTES */
.scorched-player{
    background-color: rgb(30, 31, 34);
    height: var(--entityLength);
    width: var(--entityLength);
    border: 2px solid rgb(67, 50, 7);
    transform: rotate(1deg);
}
#map{
    display: flex;
    flex-wrap: wrap;
    max-width: var(--mapLength);
    min-width: var(--mapLength);
    border: 2px solid rgb(13, 56, 68);
    box-shadow: 0px 2px 20px rgb(233, 233, 237, 0.300);
}
.container{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
body{
    background-color: rgb(17, 17, 65);
    color: rgb(180, 191, 210);
    font-family: 'Courier New', Courier, monospace;
}
button{
    height: 2rem;
    padding: 0 0.7rem;
    font-size: 18px;
    margin:2px 0;
}
sub{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}